{% extends "social/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <br>
    <legend class='border-bottom mb-4'> <h2>Hey! {{owner.username}} , wanna change your circle?</h2>
    </legend>
    <div class="media-body">
    {% for item in users  %} 
    {% if item in items %}
        <article class="media content-section">
        <img width=11.5%  class = 'rounded-circle article-img'src = "{{ item.profile.image.url }}">
        <div class="media-body">
            <div class="article-metadata">
            <a class="mr-2" href="{{item.profile.image.url}}">{{ item }}</a>
            <a class="btn btn-outline-secondary" href="{% url 'unfollow' item.id %}" style="float: right;">Unfollow</a>
            <br>
            <small class="text-muted">{{ item.email}}</small>
            </div>
        </div>
        </article>

    {% else %}
    <article class="media content-section">
        <img width=11.5%  class = 'rounded-circle article-img'src = "{{ item.profile.image.url }}">
        <div class="media-body">
            <div class="article-metadata">
            <a class="mr-2" href="{{item.profile.image.url}}">{{ item }}</a>
            <a class="btn btn-outline-info" href="{% url 'follow' item.id %}" style="float: right;">Follow</a>
            <br>
            <small class="text-muted">{{ item.email}}</small>
            </div>
        </div>
        </article>
    {% endif %}
    <br>
    {% endfor %}
    
    <div class="blog_info text-center">
        {% if users.has_previous %}
            <a class="btn btn-outline-info mb-4 " href="?page=1">First</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ users.previous_page_number }}">Previous</a>
        {% endif %}

        {% for num in users.paginator.page_range %}
            {% if users.number == num %}
                <a class="btn btn-info mb-4" href="?page={{num}}">{{num}}</a>
            {% elif num > users.number|add:'-3' and num < users.number|add:'3' %}
                <a class="btn btn-outline-info mb-4" href="?page={{num}}">{{num}}</a>
            {% endif %}
        {% endfor %}

        {% if users.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ users.next_page_number }}">Next</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ users.paginator.num_pages }}">Last</a>
        {% endif %}
        </div>

    </div>
</div>
{% endblock content %}
