{% extends 'social/base.html' %}
{% block content %}
<div>
    <legend class="border-bottom mb-4">
      <br>
        <h2>Circle's Recent Posts</h2>  
    </legend>

    {% if posts %} 
              {% for post in posts %}
                      <article class="row blog_item">

                          <div class="col-md-3">
                              <div class="blog_info text-right">
                                  <ul class="blog_meta list">
                                      <li><a href="{% url 'user-posts' post.author.username%}">{{ post.author }}<i class="lnr lnr-user"></i></a></li>
                                      <li><a href="#">{{ post.date_posted|date:"F d, Y" }}<i class="lnr lnr-calendar-full"></i></a></li>
                                      <!-- <li><a href="#">Pilani, India<i class="lnr lnr-map-marker"></i></a></li> -->
                                  </ul>
                              </div>
                          </div>

                          <div class="col-md-9">
                              <div class="blog_post">
                                  <img width=20%  class = 'rounded-circle article-img'src = "{{post.author.profile.image.url}}">
                                  <div class="blog_details">
                                      <a href="{%url 'post-detail' post.id%}"><h2>{{ post.title }}</h2></a>
                                      <p>{{ post.content }}</p>
                                      <!-- <a href="gsoc-single-blog.html" class="primary_btn"><span>View More</span></a> -->
                                  </div>
                              </div>
                          </div>
                          
                      </article>
                      <br>
              {% endfor %}

              <div class="blog_info text-center">
              {% if posts.has_previous %}
                  <a class="btn btn-outline-info mb-4 " href="?page=1">First</a>
                  <a class="btn btn-outline-info mb-4" href="?page={{ posts.previous_page_number }}">Previous</a>
              {% endif %}

              {% for num in posts.paginator.page_range %}
                  {% if posts.number == num %}
                      <a class="btn btn-info mb-4" href="?page={{num}}">{{num}}</a>
                  {% elif num > posts.number|add:'-3' and num < posts.number|add:'3' %}
                      <a class="btn btn-outline-info mb-4" href="?page={{num}}">{{num}}</a>
                  {% endif %}
              {% endfor %}

              {% if posts.has_next %}
                  <a class="btn btn-outline-info mb-4" href="?page={{ posts.next_page_number }}">Next</a>
                  <a class="btn btn-outline-info mb-4" href="?page={{ posts.paginator.num_pages }}">Last</a>
              {% endif %}
              </div>
   
    {% else %}
        <p>No Recent Posts!!!!</p>
    {% endif %}

</div>
{% endblock content %}