{% extends 'social/base.html' %}
{% block content %}
<div>
    <br>

    <!--================Blog Categorie Area =================-->
            <section >
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="categories_post">
                                <img src="https://images.unsplash.com/photo-1541185933-ef5d8ed016c2?ixlib=rb-1.2.1&auto=format&fit=crop&w=2250&q=80" >
                                
                                <div class="categories_details">
                                    <div class="categories_text">
                                        <a href="{% url 'feed' %}"><h5>My Space</h5></a>
                                        <div class="border_line"></div>
                                        <p>Personalised Feed</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="categories_post">
                            
                                <img src="https://images.unsplash.com/photo-1541718366506-c16ed9459a7f?ixlib=rb-1.2.1&auto=format&fit=crop&w=2250&q=80" >
                                
                                <div class="categories_details">
                                    <div class="categories_text">
                                        <a href="{% url 'post-create'%}"><h5>Bored</h5></a>
                                        <div class="border_line"></div>
                                        <p>Add something new </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="categories_post">

                                <img src="https://images.unsplash.com/photo-1450542814732-e210d1b7b938?ixlib=rb-1.2.1&auto=format&fit=crop&w=2250&q=80">

                                <div class="categories_details">
                                    <div class="categories_text">
                                        <a href="{% url 'circle' %}"><h5>Circle</h5></a>
                                        <div class="border_line"></div>
                                        <p>Learn from experiences</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </section>
            <br><br><br>
            <legend class="border-bottom mb-4">
                <h2>Recent Posts</h2>  
            </legend>
    <!--================End Categorie Area =================-->

    <!--================Blog Area =================-->
            <section class="blog_area">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="blog_left_sidebar">
                                <br>

                <!--================ Blog Content =================-->

                    {% if posts %} 
                        {% for post in posts %}
                                <article class="row blog_item">
                                    <div class="col-md-3">
                                        <div class="blog_info text-right">
                                            <ul class="blog_meta list">
                                                <li><a href="{% url 'user-posts' post.author.username%}">{{ post.author }}<i class="lnr lnr-user"></i></a></li>
                                                <li><a href="#">{{ post.date_posted|date:"F d, Y" }}<i class="lnr lnr-calendar-full"></i></a></li>
                                                <!-- <li><a href="#">Pilani, India<i class="lnr lnr-map-marker"></i></a></li> -->
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="blog_post">
                                            <img width=35%  class = 'rounded-circle article-img'src = "{{post.author.profile.image.url}}">
                                            <div class="blog_details">
                                                <a href="{%url 'post-detail' post.id%}"><h2>{{ post.title }}</h2></a>
                                                <p>{{ post.content }}</p>
                                                <!-- <a href="gsoc-single-blog.html" class="primary_btn"><span>View More</span></a> -->
                                            </div>
                                        </div>
                                    </div>
                                </article>
                                <br>
                         {% endfor %}

                            <div class="blog_info text-center">
                            {% if posts.has_previous %}
                                <a class="btn btn-outline-info mb-4 " href="?page=1">First</a>
                                <a class="btn btn-outline-info mb-4" href="?page={{ posts.previous_page_number }}">Previous</a>
                            {% endif %}

                            {% for num in posts.paginator.page_range %}
                                {% if posts.number == num %}
                                    <a class="btn btn-info mb-4" href="?page={{num}}">{{num}}</a>
                                {% elif num > posts.number|add:'-3' and num < posts.number|add:'3' %}
                                    <a class="btn btn-outline-info mb-4" href="?page={{num}}">{{num}}</a>
                                {% endif %}
                            {% endfor %}

                            {% if posts.has_next %}
                                <a class="btn btn-outline-info mb-4" href="?page={{ posts.next_page_number }}">Next</a>
                                <a class="btn btn-outline-info mb-4" href="?page={{ posts.paginator.num_pages }}">Last</a>
                            {% endif %}
                           </div>
   
                {% else %}
                    <p>No Recent Posts!!!!</p>
                {% endif %}


                <!--================ End of Blog Content =================-->
                                
                            </div>
                        </div>
                        <!-- <div class="col-lg-4">
                            <div class="blog_right_sidebar">
                                <aside class="single_sidebar_widget author_widget">
                                    <img class="author_img rounded-circle" src="img/blog/author.png" alt="">
                                    <h4>Abhishek Gaur</h4>
                                    <p>Your Lazy Blogger</p>
                                    <div class="social_icon">
                                    <a href="https://www.github.com/abhishekspeer"><i class="fa fa-github"></i></a>
                                    <a href="https://www.linkedin.com/in/abhishek-gaur-8ba296144/"><i class="fa fa-linkedin"></i></a>
                                    <a href="https://www.facebook.com/abhishek.abhishekgaur.gaur"><i class="fa fa-facebook"></i></a>
                                    <a href="https://www.twitter.com/Abhishe67748026"><i class="fa fa-twitter"></i></a>
                                    <a href="https://www.instagram.com/abhishekspeer"><i class="fa fa-instagram"></i></a>
                                    </div>
                                    <p>Always found working at secluded places, tortured by unusual eating habits, excited by technology, devoted to software development. </p>
                                    <p>Abhishek has a programming experince of over 3 years in Golang, Python, C/C++, JavaScript with special interest in Software License Compliance, Web Developement, Parsers and Security Systems.</p>
                                    <div class="br"></div>
                                </aside>
                                <aside class="single-sidebar-widget newsletter_widget">
                                    <h4 class="widget_title">Get Notified!</h4>
                                    <p>
                                        <strong>Interested in learning more?</strong>
                                    </p>
                                    <p>
                                    Subscribe to get updates on latest blogs and other related stuff!
                                    </p> -->
                                        <!-- <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                                            </div>
                                            <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Enter email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email'">
                                        </div> -->
                                        <!-- <a href="mailto:abhishek.abhishekgaur.gaur@gmail.com?subject = [abhishekspeer.github.io] Feedback&body = Hey, Please add me to your mailing list. Thanks!" class="bbtns align-items-center">Subscribe</a>
                                    <p class="text-bottom">You can unsubscribe at any time</p>	
                                    <div class="br"></div>
                                </aside>							
                            </div>
                        </div> -->
                    </div>
                </div>
            </section>
    <!--================Blog Area =================-->
    

</div>
{% endblock content %}


    
       
