{% extends 'social/base.html' %}
{% load static %}
{% block content %}
<div>
    <br>

    <!--================Blog Categorie Area =================-->
    {% if user.is_authenticated %}
            <section >
                <div class="container">
                    <div class="row">

                        <div class="col-lg-4">
                            <div class="categories_post">
                                <img src="https://images.unsplash.com/photo-1541185933-ef5d8ed016c2?ixlib=rb-1.2.1&auto=format&fit=crop&w=2250&q=80" >
                                <div class="categories_details">
                                    <div class="categories_text">
                                        <a href="{% url 'feed' %}"><h5>My Space</h5></a>
                                        <div class="border_line"></div>
                                        <p> Personalised Feed </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>

                        <div class="col-lg-4">
                            <div class="categories_post">
                                <img src="https://images.unsplash.com/photo-1541718366506-c16ed9459a7f?ixlib=rb-1.2.1&auto=format&fit=crop&w=2250&q=80" >
                                <div class="categories_details">
                                    <div class="categories_text">
                                        <a href="{% url 'post-create'%}"><h5>Bored</h5></a>
                                        <div class="border_line"></div>
                                        <p> Add something new ! </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>

                        <div class="col-lg-4">
                            <div class="categories_post">
                                <img src="https://images.unsplash.com/photo-1450542814732-e210d1b7b938?ixlib=rb-1.2.1&auto=format&fit=crop&w=2250&q=80">
                                <div class="categories_details">
                                    <div class="categories_text">
                                        <a href="{% url 'circle' %}"><h5>Circle</h5></a>
                                        <div class="border_line"></div>
                                        <p>Connect with like minds</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
        </section>
        <br><br><br>
    {% endif %}

           
    <!--================End Categorie Area =================-->
        
        <legend class="border-bottom mb-4">
            <h2>Recent Posts</h2>  
        </legend>

    <!--================Blog Area =================-->
        <section class="blog_area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="blog_left_sidebar">
                            <br>

                <!--================ Blog Content =================-->

                    {% if posts %} 
                        {% for post in posts %}
                            <article class="row blog_item">

                                <div class="col-md-3">
                                    <div class="blog_info text-right">
                                        <ul class="blog_meta list">
                                            <li><a href="{% url 'user-posts' post.author.username%}">{{ post.author }}<i class="lnr lnr-user"></i></a></li>
                                            <li><a href="#">{{ post.date_posted|date:"F d, Y" }}<i class="lnr lnr-calendar-full"></i></a></li>
                                            <!-- <li><a href="#">Pilani, India<i class="lnr lnr-map-marker"></i></a></li> -->
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="blog_post">
                                        <img width=35%  class = 'rounded-circle article-img'src = "{{post.author.profile.image.url}}">
                                        <div class="blog_details">
                                            <a href="{%url 'post-detail' post.id%}"><h2>{{ post.title }}</h2></a>
                                            <p>{{ post.content }}</p>
                                            <!-- <a href="gsoc-single-blog.html" class="primary_btn"><span>View More</span></a> -->
                                        </div>
                                    </div>
                                </div>

                            </article><br>
                            
                         {% endfor %}
                    {% else %}
                         <p>No Recent Posts!!!!</p>
                    {% endif %}
                <!--================ End of Blog Content =================-->

                        </div>
                    </div>
                            
                <!--================ Developer Sidebar =================-->

                                <div class="col-lg-4">
                                    <div class="blog_right_sidebar">

                                        <aside class="single_sidebar_widget author_widget">
                                            <img width=55%  class="author_img rounded-circle" src="{% static 'social/assets/me.jpg' %}" alt="">
                                            <h4>Pranay Chauhan</h4>
                                            <p>Your Lazy Developer</p>
                                            <div class="social_icon">
                                                <a href="https://github.com/Lminxous"><i class="fa fa-github"></i></a>
                                                <a href="https://www.linkedin.com/in/pranaydeep-chauhan-6712801a6/"><i class="fa fa-linkedin"></i></a>
                                                <a href="https://www.instagram.com/pranay_.15/"><i class="fa fa-instagram"></i></a>
                                            </div>
                                            <p>Always at wrong places at the right time. </p>
                                            <p>Pranay has a experience of over 18 years in procastination but has been hold back by the emotional cradle of art & science.</p>
                                            <div class="br"></div>
                                        </aside>

                                        <aside class="single-sidebar-widget newsletter_widget">
                                            <!-- <h4 class="widget_title">Get Notified!</h4> -->
                                            <p>
                                                <strong>Interested in learning more?</strong>
                                            </p>
                                            <p>
                                            Contact to know other weird stuff
                                            </p> 
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                                                    </div>
                                                    <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Enter email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email'">
                                                </div>
                                                <br> 
                                                <a href="mailto:cprince4742@gmail.com?subject = [lminxous.github.io] Feedback&body = Hey, Please add me to your mailing list. Thanks!" class="bbtns align-items-center">Ping Me !</a>
                                            <!-- <p class="text-bottom">You can unsubscribe at any time</p>	 -->
                                            <div class="br"></div>
                                        </aside>

                                    </div>
                                </div>

                <!--================ End Developer Sidebar =================-->

                </div>
            </div>
         </section>

    <!--================ End Blog Area =================-->

    
    
    <!--================ Pagination =================-->

            <div class="blog_info text-center">

                {% if posts.has_previous %}
                    <a class="btn btn-outline-info mb-4 " href="?page=1">First</a>
                    <a class="btn btn-outline-info mb-4" href="?page={{ posts.previous_page_number }}">Previous</a>
                {% endif %}

                {% for num in posts.paginator.page_range %}
                    {% if posts.number == num %}
                        <a class="btn btn-info mb-4" href="?page={{num}}">{{num}}</a>
                    {% elif num > posts.number|add:'-3' and num < posts.number|add:'3' %}
                        <a class="btn btn-outline-info mb-4" href="?page={{num}}">{{num}}</a>
                    {% endif %}
                {% endfor %}

                {% if posts.has_next %}
                    <a class="btn btn-outline-info mb-4" href="?page={{ posts.next_page_number }}">Next</a>
                    <a class="btn btn-outline-info mb-4" href="?page={{ posts.paginator.num_pages }}">Last</a>
                {% endif %}

            </div>


</div>
{% endblock content %}


    
       
